* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 80%);
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
}

p {
  line-height: 1.5;
  margin-top: 1.8rem;
  margin-bottom: 1.25rem;
}

.header {
  background-image: url("https://source.unsplash.com/yxXpjF-RrnA/1920x480");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

img {
  width: 100%;
  border-radius: 1rem;
}

/* menu */

nav {
  background: hsl(30, 80%, 45%);
  width: 100%;
  position: sticky;
  top: 0;
}

.menu {
  margin: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.menu li {
  list-style: none;
  padding: 0.5rem 1.25rem;
}

.menu li a {
  color: hsl(0, 0%, 99%);
  text-decoration: none;
}

.menu li a:hover {
  background: hsl(30, 80%, 50%);
}

/* content */

.content {
  width: 100%;
}

.popular {
  background-color: hsl(0, 0%, 99%);
  width: 80%;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 1.8rem;
}

h2,
h3 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

.prodotti {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.prodotto {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prodotto a {
  color: hsl(30, 80%, 45%);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

/* info */

h3 {
  font-size: 2rem;
}

.info {
  background: hsl(30, 80%, 45%);
  color: hsl(0, 0%, 99%);
  text-align: center;
  padding: 3rem;
}

.info a {
  text-decoration: none;
  color: hsl(30, 80%, 45%);
  background-color: hsl(0, 0%, 99%);
  padding: 0.6rem 1.8rem;
}

.info a:hover {
  color: hsl(0, 0%, 80%);
}

a[title="email"] {
  text-decoration: none;
  font-style: italic;
}

/* left / right */

.popular.popular_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular.popular_text .right {
  width: 75%;
}

.popular.popular_text .right .text {
  color: hsl(0, 0%, 25%);
}

/* Footer */

.footer {
  background-color: hsl(30, 80%, 45%);
  padding: 1.8rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .logo {
  height: 20rem;
}

/* CONTACT */

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  color: hsl(30, 80%, 45%) !important;
  padding: 0.6rem;
  width: 80%;
  font-size: 1.6rem;
}

.form-input {
  text-align: center;
  margin: 0.6rem 0;
}

.form-input textarea {
  height: 18.75rem;
  resize: none;
}

.form-input select {
  text-transform: capitalize;
}

.form-input input[type="radio"],
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  accent-color: hsl(30, 80%, 45%);
}

.form-input label {
  text-transform: capitalize;
}

.form-input .btn {
  background-color: hsl(30, 80%, 45%);
  color: hsl(0, 0%, 99%);
  border: none;
  margin: 1.8rem 0;
  padding: 1.25rem 2.5rem;
}

/* Product */

.prodotto .scopri {
  text-decoration: none;
  background-color: hsl(30, 80%, 45%);
  color: hsl(0, 0%, 99%);
  padding: 0.6rem 1.8rem;
  margin: 1.8rem 0;
}

.prodotto .scopri:hover {
  color: hsl(0, 0%, 80%);
}

/* miele */

.popular_miele {
  display: grid;
  grid-template-areas: "left left left right";
}

.popular_miele .left {
  grid-area: "left";
  position: relative;
}

.popular_miele .right {
  grid-area: "right";
}

.popular_miele .img_prodotto {
  width: 80%;
}

.popular_miele .thumbnail {
  display: flex;
  gap: 1rem;
  width: 80%;
}

.popular .left .divider{
  content: "";
  background-color: hsl(30, 80%, 45%);
  width: 5px;
  border-radius: 1.8rem;
  height: 95%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 85%;
}