* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 80%);
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

p {
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header {
  background-image: url("https://source.unsplash.com/yxXpjF-RrnA/1920x480");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* menu */

nav {
  background: hsl(30, 80%, 45%);
  width: 100%;
}

.menu {
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.menu li {
  list-style: none;
  padding: 10px 20px;
}

.menu li a {
  color: hsl(0, 0%, 99%);
  text-decoration: none;
}

.menu li a:hover {
  background: hsl(30, 80%, 50%);
}

/* content */

.content {
  width: 100%;
}

.popular {
  background-color: hsl(0, 0%, 99%);
  width: 80%;
  margin: 50px auto;
  padding: 50px;
  border-radius: 30px;
}

h2,
h3 {
  font-size: 46px;
  text-align: center;
  margin-bottom: 50px;
}

.prodotti {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prodotto {
  object-fit: cover;
}

.prodotto a {
  color: hsl(30, 80%, 45%);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

/* .prodotto a img:hover {
  outline: 1px solid hsl(30, 80%, 45%);
} */

/* info */

h3 {
  font-size: 38px;
}

.info {
  background: hsl(30, 80%, 45%);
  color: hsl(0, 0%, 99%);
  text-align: center;
  padding: 50px;
}

.info a {
  text-decoration: none;
  color: hsl(30, 80%, 45%);
  background-color: hsl(0, 0%, 99%);
  padding: 10px 30px;
}

.info a:hover {
  color: hsl(0, 0%, 80%);
}

a[title="email"] {
  text-decoration: none;
  font-style: italic;
}

/* left / right */

.popular:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular:last-child .right {
  width: 75%;
}

.popular:last-child .right .text {
  color: hsl(0, 0%, 25%);
}

/* Footer */

.footer {
  background-color: hsl(30, 80%, 45%);
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .logo {
  height: 320px;
}

/* CONTACT */

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  color: hsl(30, 80%, 45%) !important;
  padding: 10px;
  width: 80%;
  font-size: 26px;
}

.form-input {
  text-align: center;
  margin: 10px 0;
}

.form-input textarea {
  height: 300px;
  resize: none;
}

.form-input select {
  text-transform: capitalize;
}

/* .form-input option:hover {
  background: red;
} */

.form-input input[type="radio"], input[type="checkbox"] {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  accent-color: hsl(30, 80%, 45%);
}

.form-input label {
  text-transform: capitalize;
}

.form-input .btn {
  background-color: hsl(30, 80%, 45%);
  color: hsl(0, 0%, 99%);
  border: none;
  margin: 30px 0;
  padding: 20px 40px;
}